header
{
	width: 60vw;
	height: 3vw;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
header a
{
color: #ee7f4e;
margin: 0px 0px 0px 3vw;
text-decoration: none;
font-size: 2vw;
}