.root__menu_top
{
	position: absolute;
	z-index: 9999;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: 70px;
	background: rgba(137,141,142,0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.root__menu_top li
{
	list-style-type: none;
}
.root__menu_top li a{
	text-decoration: none;
	font-size: 40px;
	color: white;
	display: block;
	line-height: 70px;
	&:hover{
		color: black;
		background: rgba(15, 48, 100, 0.5);
	}
}